//container
.home-max-width {
    display: flex;  
    align-items: center;
    justify-content: flex-end;
}
.home-container {
    width: 100%;
    display: flex;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
}
.section-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
}
.tools-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    align-items: left;
    padding-top: var(--dl-space-space-fiveunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
}
.footer-container {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
}
.max-content-container {
    width: 100%;
    display: flex;
    z-index: 1;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: center;
}
.home-main {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}
.home-hero {
    position: relative;
}
.home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
//navigation
.navigation-wrapper {
    display: contents;
}
.navigation-header {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-scheme-white);
  }
.navigation-max-width {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
}
.navigation-nav1 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navigation-nav2 {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
.navigation-links-wrapper {
    display: contents;
}
.navigation-links-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navigation-tools-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: left;
    flex-direction: row;
}
.navigation-tools-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navigation-links-nav li {
    margin-right: 20px;
}
@media(max-width: 767px) {
    .navigation-links-nav {
      align-items: flex-start;
      flex-direction: column;
    }
}
.navigation-links-nav1 {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
@media(max-width: 767px) {
    .navigation-links-nav1 {
        align-items: flex-start;
    flex-direction: column;
    }
    .navigation-links-nav2 {
        align-items: flex-start;
    flex-direction: column;
    }
}
.navigation-linksroot-class-name1 {
    margin-right: var(--dl-space-space-threeunits);
  }
.navigation-links-text1 {
cursor: pointer;
transition: 0.3s;
margin-left: 20px;
}
.navigation-links-text1:hover {
color: var(--dl-color-scheme-brown);
}
.navigation-links-text2 {
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;
    }
    .navigation-links-text2:hover {
    color: var(--dl-color-scheme-brown);
    }
.navigation-burger-menu {
    display: none;
}
@media(max-width: 991px) {
    .navigation-nav1 {
        display: none;
    }
    .navigation-burger-menu {
        display: flex;
    }
}
.navigation-icon1 {
    fill: var(--dl-color-scheme-darkblue);
    width: 24px;
    height: 24px;
    display: flex;
}
.navigation-icon3 {
    width: 24px;
    height: 24px;
}
.navigation-close-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation-links-wrapper-ulep {
    display: contents;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.mobile-menu.active {
    display: block;
}
//image
.footer-image {
    margin-bottom: 2px;
    margin-left: 10px;
    width: 90px;
}
.home-image {

}
.home-image-tick {
    margin-left: 5px;
    margin-right: 5px;
    width: 18px;
}
.home-image-social {
    margin: 5px;
    width: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    border-radius: 50%;
}
.home-image-social:hover {
    transform: translateY(-5px);
}
//text
.Heading-text1 {
    display: flex;          
    justify-content: left;
    align-items: left;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    padding: 2px;
}
.Heading-text1-center {
    display: flex;          
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    padding: 2px;
}
.Heading-text1-left {
    display: flex;          
    justify-content: flex-start;
    align-items: center;  
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    padding: 2px;
    width: 100%;
}
.home-text2 {
    font-size: 1.5rem; 
    display: block;
    font-weight: bold;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: #333;
    margin-bottom: 10px;
}
.home-text2-left {
    font-size: 1.5rem; 
    display: block;
    font-weight: bold;
    justify-content: left;
    align-items: left;
    text-align: left;
    color: #333;
    margin-bottom: 10px;
    width: 100%;
}
.home-text2-center {
    font-size: 1.5rem; 
    display: block;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}
.home-text2 span {
    display: block; 
}
.home-text3 {
    font-size: 1rem; 
    justify-content: left;
    align-items: left;
    text-align: left;
    color: #333;
    margin-bottom: 8px;
    width: 100%;
}

.footer-text {
    display: flex; 
    text-align: center;
}
//checklist
.home-checklist {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 14px;
}
.home-check-item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: row;
}
.home-check-icon {
    width: 16px;
    height: 16px;
}
//link
.clicked-link {
    font-weight: bold;
    color: var(--dl-color-scheme-brown);
}